@keyframes popin {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Dm Sans";
    animation: popin .5s ease-out;
}
.image{
    width: 80%;
    margin: auto;
    height: 45vh;
  

    background-size:120% ;
    background-position: 50% 100%;
}
h2{
    font-family: "Dm Sans";
    color: #4d4c4c;
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
    font-weight: 550;
}
.logo{
    position: absolute;
    top: 110%;
    left: calc(50vw - 99px);
}
h1{
    text-align: center;
    margin-top: 10%;
}
h1 .sc{
    font-size: smaller;
}
.btn2{
    width:45%;
    margin: auto;
    margin-top: 10%;    
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    color: white;
    background-color: #d06b70;
}
.btn2 h4{
    padding: 5px;
}
.go_forward{
    position: absolute;
    border: 1px solid black;
    width: 25%;
    height: 6vh;
    border-radius:15px;
    margin-top: 10%;
    rotate: 180deg;
    right: -5%;
    background-image: url(./Bienvenu/go_back.png);
    background-size: 55% ;
    background-position: 100% center;
    background-repeat: no-repeat;
}

.rateme{
    z-index: 9999;
    background: white;
    position: absolute;
    top: 40%;
    border: 1px solid BLACK;
    border-radius: 20px;
    height: 25vh;
    left: 10%;
    width: 80%;
    box-shadow: 0 0 15px #d06b70;
    opacity: 0;
    animation: getin .1s ease-in forwards 5s;

}
.wrapper{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
}
.wrapper span{
    
    margin-top: 3%;
    padding-bottom: 20px;
    font-size: 3em;
    color:white;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    }
.rateme h3{
 
    margin: auto;
    width: 80%;
    font-size: 1.4em;
    text-align: center;
    color: #545454;
} 
@keyframes getin{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
@keyframes blurin{
    from{
        filter: blur(0px);
    }
    to{
        filter: blur(40px);
    }
}

.fa-times{
    text-shadow: 0 0 2px #d06b70;
    color: grey;
    transform: scale(1.6);
    margin-top: 10px;
    margin-left: 90%;
    
    
}
.fa-times:hover{
    color:  #c52e2f;
}
.wrapped{
    animation: blurin 2s ease-in forwards 4s;
}